Highlighting for HTTP/2 syntax

HTTP/2 uses a completely different syntax to describe requests/responses. It is not as simple as replacing `HTTP/1.1` with `HTTP/2` and adding support for pseudo-headers (which is what I see as having been done from the issues). See [section 8.8](https://httpwg.org/specs/rfc9113#rfc.section.8.8) of [RFC9113](https://httpwg.org/specs/rfc9113) which is the HTTP/2 specification.

Please consider adding proper highlighting support for HTTP/2!

Please let us know what you mean by "proper support". HTTP/2 is a binary protocol, which is out of scope for Pygments.

We added some support for pseudo headers, for example, because tools like curl like to print out requests/responses in this format.

Is that format documented, or used anywhere else? I wouldn't be too keen on highlighting an ad hoc format used just in a single RFC...

This format is quite common in spec work: See, for example, [RFC 8164](https://www.rfc-editor.org/rfc/rfc8164), [RFC 8030](https://www.rfc-editor.org/rfc/rfc8030.txt), [Web Transport Spec](https://www.ietf.org/archive/id/draft-ietf-webtrans-http2-01.html) [RFC8441](https://www.rfc-editor.org/rfc/rfc8441) etc. I am sure there are other references but these are relevant to my immediate work of writing notification protocols.  RFC 9113 does document the format in a rather terse notation (Much like modified ABNF is a rather terse form used to document HTTP/1.1 syntax in RFC9110 and RFC9112). Also, RFC 911x are kind of foundational to the web. Just Saying :)

I understand what I request is a very niche requirement and that you would certainly have many other priorities. But syntax highlighting for HTTP/2 is nonetheless a valuable addition (especially so when juxtaposed against HTTP/1.1). 